html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


h1,
h2,
h3,
p {
    margin: 0;
}

body {
    margin: 0;
    background-color: #21351B;
    color: #F3FCF0;
    font-family: sans-serif;
    padding: 3.5rem 10%;
}

/* start page */

.container {
    padding-top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* .container.start-page {
    display: none;
} */

#title {
    margin: 0;
    font-size: 2rem;
    font-weight: lighter;
    text-align: center;
}

.btn {
    background-color: #7B9971;
    color: #F3FCF0;
    padding: 1rem 2rem;
    border-radius: 12px;
    border: none;
    min-width: 15rem;
    font-size: 1.5rem;
}

.btn:hover {
    cursor: pointer;
    background-color: #7b99718d;
}

.btn.player-vs-player-btn {
    margin-top: 3.5rem;
}

.btn.player-vs-ai-btn {
    margin-top: 2.25rem;
}
/* start page end */

/* game page */
.container.game-page {
    padding-top: 0;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.container.game-page {
    display: none;
}

#score-title {
    text-align: center;
    font-size: 2.25rem;
}

#score-container {
    width: 100%;
}

#individual-score-container {
    margin-top: 1rem;
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-size: 1.5rem;
}

.player-title {
    min-width: 6ch;
}

.player-score {
    margin-top: 0.25rem;
}

#player-pick{
    font-size: 2rem;
    text-align: center;
}   

#round-result {
    display: none;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.round-result-text {
    height: fit-content;
}

#pop-up-result {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #7B9971;
    opacity: 64%;
    padding: 4rem 6rem;
}

#pop-up-result-text {
    font-size: 2.25rem;
    font-weight: 100;
    text-align: center;
}
  

.choice-icon {
    max-width: 9rem;
    max-height: 9rem;
}

#choices-container {
    display: flex;
    gap: 1rem;
}

.btn.rock,
.btn.paper,
.btn.scissor {
    font-size: 1.5rem;
    min-width: 6.25rem;
    padding: 2rem 0;
}

/* game page end */



/* 
media queries
- start-page title needs to be bigger on tablet and dekstop
- game-page-choices-btn needs to be bigger and more gap
- game-page layout on tablet and dekstop sucks, fix that, 
  hint: less gap between things.
- pop up result is way to small on tablet and dekstop

*/